<script
  type="module"
  crossorigin
  src="/assets/2022-11-17/assets/index.9c283120.js"
></script>
<link rel="stylesheet" href="/assets/2022-11-17/assets/index.f7e5b42f.css" />
<div class="content">
  <div class="controls">
    <div>
      <label for="instances">Number of instances</label>
      <input
        id="instances"
        type="range"
        min="100"
        max="10000"
        step="1"
        value="500"
      />

      <label for="lights">Number of lights</label>
      <input id="lights" type="range" min="1" max="8" step="1" value="2" />
    </div>
  </div>
  <canvas></canvas>
</div>
